* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    color: #000;
}

header#header {
    display: flex;
    position: fixed;
    background-color: #eee;
    padding: 0 20px;
    min-height: 75px;
    align-items: center;
    width: 100%;
}

.img {
    width: 60%;
}

img#header-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#nav-bar {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

a.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

@media (max-width: 810px) {
    nav#nav-bar {
        flex-direction: column;
        align-items: center;
    }

    a.nav-link {
        margin: 1.5px 0;
    }
}

@media (max-width: 500px) {
    header#header {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    img#header-img {
        margin: 10px auto;
        padding: 0 20px;
    }

    nav#nav-bar {
        padding: 0;
        text-align: center;
    }

    a.nav-link {
        margin: 1.5px 0;
    }

}

div#sign-up-for-offers {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 500px) {
    div#sign-up-for-offers {
        padding-top: 115px;   
    }
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 175px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input#email {
    width: 100%;
    max-width: 275px;
    min-height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

input#submit {
    background-color: #f1c40f;
    max-width: 150px;
    width: 100%;
    height: 30px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px;
}

input#submit:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgb(255 255 255 / 50%), 0 0 20px rgb(255 255 255 / 20%);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


div#features {
    display: flex;
    flex-direction: column;
    margin: 50px 5px
}

.content {
    display: flex;
    align-items: center;
}

.fa-3x {
    display: flex;
    height: 125px;
    width: 20%;
    min-width: 20%;
    justify-content: center;
    align-items: center;
    color: darkorange;
}

@media (max-width: 500px) {
    .fa-3x {
        display: none;
    }

    .content {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    div#features {
        margin-top: 50px;
    }
}

p {
    text-align: justify;
}

@media (max-width: 500px) {
    p {
        text-align: center;
    }
}

div#how-it-works {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

iframe#video {
    width: 50%;
}

div#pricing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 75px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    border-style: ridge;
    width: 30%;
    max-width: 300px;
}

ol {
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}

.level {
    text-transform: uppercase;
    font-weight: 600;
    background-color: #ddd;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.price {
    margin: 10px 0;
}

button.btn {
    background-color: #f1c40f;
    height: 40px;
    padding: 5px 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    border-style: none;
    border-radius: 2px;
}

button.btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgb(255 255 255 / 50%), 0 0 20px rgb(255 255 255 / 20%);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

@media (max-width: 950px) {
    div#pricing {
        flex-direction: column;
    }

    .product {
        width: 50%;
        margin: 15px 0;
        min-width: 150px;
    }
}

div#footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 75px;
    justify-content: center;
}

div#policy {
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin: 5px 5px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    margin: 0 5px 10px;
    text-align: center;
}

@media (max-width: 235px) {
    div#policy {
        flex-direction: column;
        align-items: center;
        width: 100%;
        line-height: 1.5;
    }
}